* {
  border: 0;
  margin: 0;
  padding: 0;
}

html,
body,
#App {
  height: 100%;
  width: 100%;
}

body {
  font: 13px/22px "Segoe UI", Helvetica, Arial, sans-serif;
}

.App {
  display: flex;
  height: 100%;
  width: 100%;
}

.App .ListView {
  flex: 1;
}

.App .Workbench {
  flex: 4;
  position: relative;
}

.App .Workbench > .Button {
	height: 60px;
  position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
	margin: auto;
	width: 200px;
}

.App .Workbench > .Chart {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.App .Workbench > .Chart > .Computing {
  color: #ddd;
  font-size: 36px;
  text-align: center;
  width: 200px;
}

.ListView {
  background: #272735;
  list-style: none;
}

.ListView a {
  color: #fff;
  display: block;
  padding: 10px 15px;
  text-decoration: none;
}

.ListView a.--isActive {
  background: #373748;
  font-weight: 600;
}

.Button {
  background: #0b94ec;
  color: #fff;
  display: block;
  padding: 10px 20px;
  text-align: center;
}